In [ ]:
#  Item Based collaborative Filtering

In [1]:
import pandas as pd
from scipy.spatial.distance import cosine

In [59]:
txn_data = pd.read_csv('C:\\Users\\jp\\Desktop\\testData\\item_txn_data.csv')

In [60]:
txn_data.head()

     Cust  Milk  Bread  Sugar  Salt  Oil  Chocolate
0  Cust-1     2      0      0     0    0          0
1  Cust-3     0      4      0     0    0          2
2  Cust-4     0      3      1     1    0          3
3  Cust-5     1     10      6     2    0          6
4  Cust-6     3     21      6     1    8         19

In [64]:
# Item based collaborative filtering
txn_data_items  = txn_data.drop('Cust',1)

In [65]:
txn_data_items.head()

   Milk  Bread  Sugar  Salt  Oil  Chocolate
0     2      0      0     0    0          0
1     0      4      0     0    0          2
2     0      3      1     1    0          3
3     1     10      6     2    0          6
4     3     21      6     1    8         19

In [66]:
# Calculate the cosine similarities to look for each items similarities.  
#                    Cosine-sim = crossProd(x,y)/ sqrt( crosProd(x) * crossprod(y))

# we will use cosine function form scipy library.

# Create an empty dataframe to store the similarities of item vs. item
txn_items_sim = pd.DataFrame(index=txn_data_items.columns,columns=txn_data_items.columns)

In [67]:
txn_items_sim

          Milk Bread Sugar Salt  Oil Chocolate
Milk       NaN   NaN   NaN  NaN  NaN       NaN
Bread      NaN   NaN   NaN  NaN  NaN       NaN
Sugar      NaN   NaN   NaN  NaN  NaN       NaN
Salt       NaN   NaN   NaN  NaN  NaN       NaN
Oil        NaN   NaN   NaN  NaN  NaN       NaN
Chocolate  NaN   NaN   NaN  NaN  NaN       NaN

In [68]:
# Calcuate the cosine similiarities and fill the similiarit matrix 
#  For loop through the columns
for i in range(0,len(txn_items_sim.columns)) :
    # again loop through each columns
    for j in range(0,len(txn_items_sim.columns)) :
      # Fill the emplty placeholders with cosine similarity
      txn_items_sim.ix[i,j] = 1-cosine(txn_data_items.ix[:,i],txn_data_items.ix[:,j])

In [69]:
txn_items_sim

               Milk     Bread     Sugar      Salt       Oil Chocolate
Milk              1  0.820069  0.750733  0.545545  0.801784  0.831543
Bread      0.820069         1  0.929806  0.755038  0.882696  0.988113
Sugar      0.750733  0.929806         1  0.907855  0.702247  0.884378
Salt       0.545545  0.755038  0.907855         1  0.408248  0.685506
Oil        0.801784  0.882696  0.702247  0.408248         1  0.938343
Chocolate  0.831543  0.988113  0.884378  0.685506  0.938343         1

In [70]:
# get the list of highly associated items in sorting order ( top 5 most nearest neighbours)
item_neighbours = pd.DataFrame(index=txn_items_sim.columns,columns=range(1,6))

In [71]:
item_neighbours.head()

         1    2    3    4    5
Milk   NaN  NaN  NaN  NaN  NaN
Bread  NaN  NaN  NaN  NaN  NaN
Sugar  NaN  NaN  NaN  NaN  NaN
Salt   NaN  NaN  NaN  NaN  NaN
Oil    NaN  NaN  NaN  NaN  NaN

In [73]:
# apply the for loop on the similarity dataframe txn_items_sim and fill in neighbouring data frame to get the 5 closer items
for i in range(0,len(txn_items_sim.columns)):
    item_neighbours.ix[i,:5] = txn_items_sim.ix[0:,i].sort_values(ascending=False)[:5].index

In [80]:
item_neighbours.ix[:,2:5]

                   2      3          4      5
Milk       Chocolate  Bread        Oil  Sugar
Bread      Chocolate  Sugar        Oil   Milk
Sugar          Bread   Salt  Chocolate   Milk
Salt           Sugar  Bread  Chocolate   Milk
Oil        Chocolate  Bread       Milk  Sugar
Chocolate      Bread    Oil      Sugar   Milk